* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  height: 528px;
  width: 100%;
  padding: 10px;
}

.section-title {
  color: #2ddf5c;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.main-header {
  background: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block; /*Change div from block level to inline to fit logo with navbar*/
  vertical-align: middle; /*Align navbar and logo into middele; need to add to main-nav also*/
}

.main-header__brand {
  color: #0e4f1f;
  font-weight: bold; /*Make logo bolder*/
  font-size: 25px; /*Increase Logo size*/
  text-decoration: none; /*Remove underline from logo*/
}

.main-nav {
  display: inline-block; /*Change nav from block level to inline to fit logo with navbar*/
  text-align: right; /*Place navbar to right of the page*/
  width: calc(
    100% - 84px
  ); /*Take widh of page - width of logo and white space between div and navbar*/
  vertical-align: middle; /*Align navbar and logo into middele; need to add to logo div also*/
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block; /*Change list item from block level to inline*/
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 0 5px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}
